footer {
    background: -webkit-linear-gradient(top left, #00897B, #01655b);
    background: -moz-linear-gradient(top left, #00897B, #01655b);
    background: -o-linear-gradient(top left, #00897B, #01655b);
    background: linear-gradient(to bottom right, #00897B, #01655b);
    padding: 30px 0;
    color: #FFF;
}