.match .img-responsive {
    margin: 0 auto;
    max-height: 50px;
    min-height: 50px;
}

.match .score {
    border: solid #00897B 1px;
}

.match .scoreWin {
    background-color: #00897B;
    border: solid #00897B 1px;
    color: #fff;
}

.match h1 {
    margin: 10px;
}