.shirtImg {
    position: relative
}

.shirtImg span {
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    width: 100%;
    color: #FFF;
}

.player h5 {
    margin-bottom: 0;
}